@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    background-color: white;
    margin: 0;

    /*margin: 0px 20px 0px 20px;*/
    font-family: Montserrat, sans-serif;
}
.lists{
    padding: 2px 0px;
    list-style: none;
    margin: 25px 0px ;
}
header{


    display: flex;
    width: 100%;
    top: 0;
color: black;
    height: auto;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);

}
#div1{
    margin-bottom: 30px;
}
i{
    margin-top:2px;
}
.buttons span{
    margin: 0px 15px ;
}
.buttons{
    display: flex;
    text-align: right;
    font-family: Montserrat;
    font-weight: bold;
    width: 300px;
    color: white;
    padding: 10px 14px;
    /*justify-content: center;*/


    margin :10px 0px;
    border-radius: 7px;
    background: #000000;

    /* shadow */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);


    /*color:white;*/
    /*background-color: black;*/
    /*border: 1px solid white;*/
    /*border-radius:50px;*/
    /*width: 300px;*/
    /*padding: 10px 20px;*/
    /*margin :5px 0px;*/

}
header p{
    padding-top: 3px;
}
main{
    margin-top: 100px;

}

.lists .li1{
    border-left: 3px solid #d8720d;
    padding: 0px 15px;
    text-transform: uppercase;
    font-weight: 400;

}
.padding-h{
    padding: 2px 20px 0px 20px;
}
.padding{
    padding: 20px 20px 0px 20px;
}
header p{
    font-weight:500;

}
article{
    margin-bottom: 50px;
}
.lists2{
    padding-left: 20px;
    font-size:small ;
}
.lists2 a{
    text-decoration: none;
}

.li2{
    list-style: none;
    padding: 4px 0px 20px;
    line-height: 21px;
}

#p1{
    padding-top: 7px;
}
header img{
    height: 25px;
    padding-right: 40px;
}

.section-bg{
    background-color: white;

}

#icons{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}
#icons li{
    padding-right: 10px;
    padding-left: 10px;

}
h2{
    margin: 0;
}
footer{
    background-color: white;
    color: black;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px;
    border-top:black ;
}
footer p{
    font-size: small;
}
main div img{
    height: 130px;

}
.lists li{
    margin-bottom: 5px;

}